<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.app.jonathan.willimissbart">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:name=".Misc.MyApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".Service.TimerService"
            android:exported="false"/>

        <receiver android:name=".BroadcastReceiver.TimerNotificationReceiver">
            <intent-filter>
                <action android:name="WillIMissBart.dismiss"/>
            </intent-filter>
        </receiver>

        <activity
            android:name=".Activities.Onboarding.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.Onboarding.StationInputActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".Activities.AppActivities.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar2"/>
        <activity
            android:name=".Activities.AppActivities.SelectStationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/PureBlueTheme"
            android:windowSoftInputMode="stateHidden"/>
    </application>

</manifest>